body {
    font-family: "Oswald", sans-serif;
    letter-spacing: 3px;
    margin:0;
    padding:0;
}

 body .container-fluid{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}


/*----------------------------------------------Header--------------------------------*/

.bg-dark {
    background-color: #51c4d3!important;
}

h1 {
    color:#132C33;
    letter-spacing: 1px;

}
 header li a { 
    color:#132C33 !important;
    text-transform: uppercase;
    text-decoration: none;
    font-weight:500;
    font-size:22px;
    margin-left:25px;
}
 header li a:hover {
    color:#fefecc !important ;
}
.name{
    position:relative;
    float:left;
}


/*-------------------------------------------Botton-------------------------------*/

.btn {
    padding:12px, 0;
    margin-right: 30px;
    letter-spacing:3px;
    font-size:1.2rem;
    background-color: #132C33;
    float:right;
}

button a{
    text-decoration: none;
    text-transform: uppercase;
    color:#51c4d3;
}

button a:hover {
    text-decoration: none;
    color:#51c4d3;

}
.btn:hover{
    background-color:#fefecc;
    border-color:#fefecc;
}

/*-------------------------------------------Main Banner

.main-banner{
    height:100vh;
    background-image: url("..images/cover.jpg");
   -webkit-background-size: cover;
    -moz-background-size: cover;
   -o-background-size: cover;
    background-size: cover;
   display:flex;
   align-items:center;
  justify-content:center;
   position: relative;
}
-------------------------------*/

.carousel-item img {

    
}
    


/*-------------------------------------------Footer-------------------------------*/
footer {
    background-color:#51c4d3;
    position: absolute;
    bottom:0px;
    min-height: 80px;
    width:100%;
    line-height:10px;

}


footer h5 {
    text-transform: uppercase;
    padding-top:5px;
}
.contact-us{
    margin-left:30px;
    float:left;
    
    
}

.services{
    float:left;
    
}

.socials {
   margin-right:30px;
   float:right; 
    
}


footer a{
    text-decoration:none;
    color:#132C33;
    padding:5px;
}

footer a:hover{
    color:#fefecc;
    text-decoration: none;
}

footer .col-4 {
    text-align:center;
    width:33%;
}