body {
    font-family: "Oswald", sans-serif;
}

/*----------------------------------------------Header--------------------------------*/

.bg-dark {
    background-color: #51c4d3!important
}

h1 {
    color:#132C33;
}

